// DSA4262 Assignment 1 - Task 5 pipeline configuration

conda.enabled = true

process {
    // tools installed with conda (edit the paths if your envs live elsewhere)
    conda  = '/home/ubuntu/miniforge3/envs/dsa4262'
    cpus   = 4
    memory = '8 GB'

    withName: MINIMAP2 {
        cpus   = 14
        memory = '40 GB'
    }
    withName: SAMTOOLS_SORT {
        cpus   = 4
        memory = '16 GB'
    }
    withName: QC {
        cpus   = 2
        memory = '4 GB'
    }
    withName: BAMBU {
        conda  = '/home/ubuntu/miniforge3/envs/bambu'
        cpus   = 4
        memory = '40 GB'
    }
}
